{% extends "main/base.html" %}
{% block content %}
<article class="media content-section">
  <img class="rounded-circle article-img" src="{{ thread.author.profile.image.url }}">

  <div class="media-body container">
      <div class="article-metadata">
        <div class="row container mt-2">
          <h5 style="font-weight:bolder;">{{ object.language.title }}</h5>
          <h5 id='text-gray' class="ml-2">{{ object.lingualevel }}</h5>
        </div>
      </div>

    <h6>'{{ object.title }}'</h6>
    <p class="article-content">{{ object.date_posted|date:"F d, Y" }}</p>
      {% if object.author == user %}
        <div >
            <a class="btn btn-secondary btn-sm mt-1 mb-1"href="{% url 'thread-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1"href="{% url 'thread-delete' object.id %}">Delete</a>
        </div>
      {% endif %}
  </div>
</article>
{% endblock content%}
